/* Buttons 
.button {
  padding: 0.7rem 2rem;
  border-radius: 3px;
  font-family: $raleway;
  font-size: $medium;
  color: $white;
  &:hover {
    background-color: $salmon;
    border-color: $salmon;
    color: $granite-gray;
  }
}

.button_positive {
  background-color: $jelly-bean;
  border-color: $jelly-bean;
  &:hover {
    background-color: $granite-gray;
    border-color: $granite-gray;
  }
}
*/