
//article Layout 
.article{
    background-color: $white;
    padding: 50px 0;
    text-align: center;
    
    
    &__img{
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
             
    }

    &__text{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: $granite-gray;
             
      
    &__tittle{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: $granite-gray;
      
        
    }

} 
}

.article__tittle {
    color: $granite-gray;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    }

    .article__text {
        color: $granite-gray;
        text-align: center;
        }