//main Layout 
.main {
       width: 100%;    
    }
    .main__container1 {
    background-color: $jelly-bean;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    height: 600px;
    }

    .main__container2 {
        background-color: $granite-gray;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        height: 600px;
        
        &__img{
            width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
                 
        }
    
    }

        .main__container3 {
            background-color: $white;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            height: 600px;
            
            &__img{
                width: 70%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                     
            }
        }  

    .main__title {
    color: $white;
    text-align: center;
    }
    .main__title-emphasis {
    font-family: playfair;
    font-weight: bold;
    }
    .main__title-emphasis--size-xxl {
    font-size: $x-large;
    }
   